.artificatialIntelligence__container {
    .count__logo {
        position: absolute;
        top: 220px;
        left: 200px;
        .paper__img {
            margin-left: -20px;
            margin-top: -20px;
        }
        .scissors__img {
            margin-top: -20px;
            margin-left: 30px;
        }
    }
}
