@import "../../variables.scss";

.play__image {
    .replay__img {
        cursor: pointer;
    }
    .a {
        fill: $primary-blue;
    }
    .a,
    .i {
        font-family: HelveticaNeue-Medium, Helvetica Neue;
        font-weight: 500;
    }
    .b {
        fill: $primary-white;
    }
    .d {
        font-family: HelveticaNeue-Bold, Helvetica Neue;
        font-weight: 700;
    }
    .e {
        fill: $primary-blue;
    }
    .f {
        font-size: 26px;
        font-family: HelveticaNeue-Light, Helvetica Neue;
        font-weight: 300;
    }
    .h {
        fill: none;
    }
}
