@import "../../variables.scss";

.game__container {
    .you__container {
        position: absolute;
        top: 281px;
        left: 140px;
    }

    .ai__container {
        position: absolute;
        top: 281px;
        left: 900px;
    }

    .rpc__img {
        .a {
            fill: $primary-blue;
        }

        &.LOST__img {
            .a {
                fill: red;
            }
        }
    }
}
