@import "../../variables.scss";

.results-banner__container {
    position: absolute;
    top: 300px;
    left: 700px;

    .h {
        fill: none;
    }

    .i {
        fill: $primary-grey;
        font-size: 60px;
    }
}
