.results-banner__container {
    position: absolute;
    top: 300px;
    left: 700px;

    .a,
    .d {
        fill: #333;
        font-size: 35px;
    }
    .a,
    .i {
        font-family: HelveticaNeue-Medium, Helvetica Neue;
        font-weight: 500;
    }
    .b {
        fill: #fff;
    }
    .c {
        fill: #65b15f;
    }
    .d {
        font-family: HelveticaNeue-Bold, Helvetica Neue;
        font-weight: 700;
    }
    .e {
        fill: #4c9bde;
    }
    .f {
        fill: #666;
        font-size: 26px;
        font-family: HelveticaNeue-Light, Helvetica Neue;
        font-weight: 300;
    }
    .g {
        fill: #c14d4d;
    }
    .h {
        fill: none;
    }
    .i {
        fill: #5e6972;
        font-size: 60px;
    }
    .j {
        filter: url(#c);
    }
    .k {
        filter: url(#a);
    }
}
